@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar{
    backdrop-filter: blur(10px);
}
body .navbar-brand{
    font-family:"Bodoni Moda";
    font-size: 2em;
    font-weight: 800;
    color: #FFFFFF;
    transition: 0.3s ;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
body .navbar-nav .nav-link{
    color: #4B0082;
    font-weight:500;
    position: relative;
}
body .navbar-nav .nav-link:hover,
body .navbar-nav .nav-link:active{
    color: black;
}
body .navbar-nav .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
    width:0 ;
    height:2px;
    background-color: rgb(9, 138, 95);
    transition: 0.3s ease-in-out;
}
body .navbar-nav .nav-link:hover::before{
    width: 100%;
    visibility: visible;
}
.hero-section{
    background-image: url(https://images2.alphacoders.com/462/462813.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family:"Playfair Display";
    font-weight: 800;
    color: #ffffff;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.hero-section1{
    background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?cs=srgb&dl=pexels-eberhardgross-844297.jpg&fm=jpg);
}
.text-center{
font-family: "Playfair Display";
font-weight: 400;
color: #FFFFFF;
}
#about{
    background-image: url(https://cdn.pixabay.com/photo/2021/01/11/08/53/sky-5907605_1280.jpg);
    background-size: cover;

}
#title{
    font-family: "Playfair Display";
    font-weight: 800;
    color: #720d77;
    text-align: center;
}
#parah{
    font-family: "Prompt";
    font-weight: 400;
    color: white;
    text-align: center;
}
.hero-section2{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/19/17/56/clouds-1840568_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.foot{
    text-align: center;
}
